[submodule ".\\consul_kv_init\\"]
	path = .\\consul_kv_init\\
	url = https://github.com/phobos-nik/consul_kv_init
[submodule "consul_kv_init"]
	path = consul_kv_init
	url = https://github.com/phobos-nik/consul_kv_init
[submodule "consul_agent_config"]
	path = consul_agent_config
	url = https://github.com/phobos-nik/consul_agent_config
[submodule "git2consul"]
	path = git2consul
	url = https://github.com/phobos-nik/git2consul
[submodule "SpringCloudAuthorizationServer"]
	path = SpringCloudAuthorizationServer
	url = https://github.com/phobos-nik/SpringCloudAuthorizationServer
